<div class="modal" tabindex="-1" role="dialog" id="telemetry_actions_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Telemetry Actions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<button type="submit" class="btn btn-primary" onclick="halt();">Halt</button>
		<button type="submit" class="btn btn-primary" onclick="arm();">Arm</button>
		<!--<button type="submit" class="btn btn-primary" onclick="resume();">Resume</button>-->
		<!--<button type="submit" class="btn btn-primary" onclick="demo_simulation();">Demo Simulation</button>-->
		<button type="submit" class="btn btn-primary" onclick="eject1();">Eject Apogee</button>
		<button type="submit" class="btn btn-primary" onclick="eject2();">Eject Main</button>
      </div>
    </div>
  </div>
</div>
